<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Passwort ändern
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-card>
        <ion-card-content>
            <ion-row class="">
                <form [formGroup]="changePasswordForm">
                    <ion-list lines="full">
                        <ion-item>
                            <ion-label position="stacked">Altes Passwort
                                <ion-text color="danger">*</ion-text>
                            </ion-label>
                            <ion-input
                                    autocomplete="false"
                                    formControlName="old_password"
                                    autofocus="true"
                                    clearInput="true"
                                    name="old_password"
                                    required="true"
                                    type="password"
                            ></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Neues Passwort
                                <ion-text color="danger">*</ion-text>
                            </ion-label>
                            <ion-input
                                    autocomplete="false"
                                    formControlName="password"
                                    autofocus="true"
                                    clearInput="true"
                                    name="password"
                                    required="true"
                                    type="password"
                            ></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Neues Passwort bestätigen
                                <ion-text color="danger">*</ion-text>
                            </ion-label>
                            <ion-input
                                    autocomplete="false"
                                    formControlName="password_confirmation"
                                    autofocus="true"
                                    clearInput="true"
                                    name="password"
                                    required="true"
                                    type="password"
                            ></ion-input>
                        </ion-item>
                    </ion-list>

                </form>
            </ion-row>
            <ion-row class="">
                <ion-button
                        (click)="onChangePassword()"
                        type="button"
                        color="primary"
                        shape="round">
                    Passwort ändern
                </ion-button>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>
