<ion-header translucent="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Passwort zurücksetzen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <div class="ion-padding">
        <ion-grid>
            <ion-row class="ion-align-items-center ion-justify-content-center">
                <h1>Passwort zurücksetzen</h1>
            </ion-row>

            <ion-row class="ion-align-items-center ion-justify-content-center">
                <form [formGroup]="passwordResetForm">
                    <ion-list lines="full">
                        <ion-item>
                            <ion-label position="stacked">Email<ion-text color="danger">*</ion-text></ion-label>
                            <ion-input
                                    autocomplete="false"
                                    formControlName="email"
                                    autofocus="true"
                                    clearInput="true"
                                    name="email"
                                    required="true"
                                    type="email"
                            ></ion-input>
                        </ion-item>
                    </ion-list>

                    <ion-button
                            (click)="onResetPassword()"
                            type="button"
                            color="primary"
                            shape="round">
                        Token anfordern
                    </ion-button>
                </form>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
