<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Hauptmenü</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <div class="ion-padding">
        <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-list lines="full">
                <p *ngIf="!isTherapist">
                    <ion-button
                        expand="block"
                        [routerLink]="['/introduction']"
                        *ngIf="skipIntroduction else skipIntroduction"
                        >Spiel starten</ion-button
                    >
                    <ng-template #skipIntroduction
                        ><ion-button expand="block" [routerLink]="['/game']"
                            >Spiel starten</ion-button
                        ></ng-template
                    >
                </p>
                <p>
                    <ion-button expand="block" [routerLink]="['/recipe-info']"
                        >Rezepte</ion-button
                    >
                </p>
                <p>
                    <ion-button expand="block" [routerLink]="['/ingredients']"
                        >Zutaten</ion-button
                    >
                </p>
                <p>
                    <ion-button expand="block" [routerLink]="['/score-board']"
                        >Statistiken</ion-button
                    >
                </p>
                <p>
                    <ion-button expand="block" [routerLink]="['/about']"
                        >Über dieses Spiel</ion-button
                    >
                </p>
                <p *ngIf="isAdmin">
                    <ion-button expand="block" [routerLink]="['/logs']"
                        >Logs</ion-button
                    >
                </p>
            </ion-list>
        </ion-row>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row class="justify-content-center">
            <ion-label
                >Version: {{environment.version}}, {{buildDate}}</ion-label
            >
        </ion-row>
    </ion-toolbar>
</ion-footer>
