<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Hauptmenü</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="ion-padding">
    <ion-row align-items-center="true" justify-content-center="true">
      <ion-list lines="full">
        <p>
          <ion-button expand="block" [routerLink]="['/day-planning']"
            >Start Game</ion-button
          >
        </p>
        <p>
          <ion-button expand="block">Score Board</ion-button>
        </p>
        <p>
          <ion-button expand="block">About this Game</ion-button>
        </p>
      </ion-list>
    </ion-row>
  </div>
</ion-content>
