<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" #scrollContainer class="scroll-container">
    <ion-card>
        <ion-card-header>Kühlschrank</ion-card-header>
        <ion-card-content>
            <serious-game-drag-zone
                name="fridge"
                [model]="ingredients"
                [scrollElement]="content"
                *ngIf="ingredients && ingredients.length > 0"
            >
            </serious-game-drag-zone>
            <span *ngIf="ingredients && ingredients.length === 0"
                >Der Kühlschrank ist leer!</span
            >
        </ion-card-content>
    </ion-card>
</ion-content>
