<ion-header translucent="true">
    <ion-toolbar color="primary">
        <ion-title>Passwort zurücksetzen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <div class="ion-padding">
        <ion-grid>
            <ion-row class="ion-align-items-center ion-justify-content-center">
                <h1>Geben Sie das erhaltene Token ein!</h1>
            </ion-row>

            <ion-row class="ion-align-items-center ion-justify-content-center">
                <form [formGroup]="resetPasswordForm">
                    <ion-list lines="full">
                        <ion-item>
                            <ion-label position="stacked">Email<ion-text color="danger">*</ion-text></ion-label>
                            <ion-input
                                    autocomplete="false"
                                    formControlName="email"
                                    autofocus="true"
                                    clearInput="true"
                                    name="email"
                                    required="true"
                                    type="email"
                            ></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Neues Passwort<ion-text color="danger">*</ion-text></ion-label>
                            <ion-input
                                    autocomplete="false"
                                    formControlName="password"
                                    autofocus="true"
                                    clearInput="true"
                                    name="password"
                                    required="true"
                                    type="password"
                            ></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Token<ion-text color="danger">*</ion-text></ion-label>
                            <ion-input
                                    autocomplete="false"
                                    formControlName="token"
                                    autofocus="true"
                                    clearInput="true"
                                    name="token"
                                    required="true"
                                    type="number"
                            ></ion-input>
                        </ion-item>
                    </ion-list>

                    <ion-button
                            (click)="onResetPassword()"
                            type="button"
                            color="primary"
                            shape="round">
                        Passwort zurücksetzen
                    </ion-button>
                </form>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
