<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let session of sessions | async">
    <ion-card-header
      ><span class="ion-float-left">{{ session.game.name }}</span>
      <span class="ion-float-right">{{
        session.statistic.startTime | date: "dd.MM.yyyy HH:mm"
      }}</span>
    </ion-card-header>
    <ion-card-content
      >{{
        getDifference(session.statistic.startTime, session.statistic.endTime)
      }}ms
    </ion-card-content>
    <serious-game-error-count [givenErrorCount]="0"></serious-game-error-count>
  </ion-card>
</ion-content>
