<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Statistiken</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ng-template *ngIf="!userIsTherapist else therapistView">
        <serious-game-patient-score-board> </serious-game-patient-score-board>
    </ng-template>
    <ng-template #therapistView>
        <serious-game-therapist-score-board></serious-game-therapist-score-board>
    </ng-template>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="funnel"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
