<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Profil bearbeiten
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title *ngIf="user">{{ user.forename }} {{ user.lastname }}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="user">
            <ion-row>
                <form [formGroup]="changeProfileForm">
                    <ion-list lines="full">
                        <ion-item>
                            <ion-label position="stacked">Geschlecht</ion-label>
                            <ion-select
                                interface="popover"
                                formControlName="gender"
                                [value]="user.gender"
                            >
                                <ion-select-option [value]="0"
                                    >Kein</ion-select-option
                                >
                                <ion-select-option [value]="1"
                                    >männlich</ion-select-option
                                >
                                <ion-select-option [value]="2"
                                    >weiblich</ion-select-option
                                >
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">E-Mail</ion-label>
                            <ion-input
                                    autocomplete="false"
                                    formControlName="email"
                                    autofocus="true"
                                    clearInput="true"
                                    name="email"
                                    required="true"
                                    type="email"
                                    minlength="1"
                                    maxlength="255"
                                    [value]="user.email">
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Vorname</ion-label>
                            <ion-input
                                    autocomplete="false"
                                    formControlName="forename"
                                    autofocus="true"
                                    clearInput="true"
                                    name="forename"
                                    required="true"
                                    type="text"
                                    minlength="1"
                                    maxlength="45"
                                    [value]="user.forename">
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Nachname</ion-label>
                            <ion-input
                                    autocomplete="false"
                                    formControlName="lastname"
                                    autofocus="true"
                                    clearInput="true"
                                    name="lastname"
                                    required="true"
                                    type="text"
                                    minlength="1"
                                    maxlength="45"
                                    [value]="user.lastname">
                            </ion-input>
                        </ion-item>
                    </ion-list>

                    <ion-button
                            (click)="onSave()"
                            type="button"
                            color="primary"
                            shape="round">
                        Speichern
                    </ion-button>
                </form>
            </ion-row>


           <serious-game-therapist-profile
                   [user]="user"
                   *ngIf="isTherapist">
            </serious-game-therapist-profile>
            <serious-game-patient-profile
                    [user]="user"
                    *ngIf="!isTherapist">
            </serious-game-patient-profile>
        </ion-card-content>
    </ion-card>
</ion-content>
