<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Rezepte</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-grid>
        <ion-card>
            <ion-card-header>
                <ion-card-title>
                    Hier sehen Sie eine Übersicht über alle Rezepte und wichtigen Informationen.
                </ion-card-title>
            </ion-card-header>
        </ion-card>
        <ion-card *ngFor="let recipe of recipes">
            <ion-card-header>
                <ion-card-title>{{recipe.name}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label><b>Beschreibung</b>: {{recipe.description}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label><b>Tageszeit</b>: {{recipe.mealtime}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label><b>Schwierigkeit</b>: {{recipe.difficulty.difficultyName}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label><b>Zutaten</b>: {{recipe.commaSeparatedIngredientNames}}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </ion-grid>
</ion-content>
