<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Rezepte</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" *ngIf="recipes">
    <ion-grid>
        <ion-card>
            <ion-card-header>
                <ion-card-title>
                    Hier sehen Sie eine Übersicht über alle Rezepte und wichtigen Informationen.
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label>Tageszeit</ion-label>
                        <ion-select interface="popover" (ionChange)="changeMealtime($event)">
                            <ion-select-option selected="true" value="all">Alle</ion-select-option>
                            <ion-select-option *ngFor="let mealtime of this.mealtimes" value="{{mealtime}}">{{mealtime}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label>Schwierigkeit</ion-label>
                        <ion-select interface="popover" (ionChange)="changeDifficulty($event)">
                            <ion-select-option selected="true" value="0">Alle</ion-select-option>
                            <ion-select-option *ngFor="let difficulty of this.difficulties" value="{{difficulty.difficulty}}">{{difficulty.difficultyName}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card *ngFor="let recipe of recipes">
            <ion-card-header>
                <ion-card-title>{{recipe.name}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label><b>Beschreibung</b>: {{recipe.description}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label><b>Tageszeit</b>:</ion-label>
                        <span *ngIf="!this.isTherapist">{{recipe.mealtime}}</span>

                        <ion-select *ngIf="this.isTherapist" interface="popover"
                                    (ionChange)="updateMealtime($event, recipe)"
                                    [value]="recipe.mealtime">
                            <ion-select-option *ngFor="let mealtime of this.mealtimes"
                                               [value]="mealtime">
                                {{mealtime}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label><b>Schwierigkeit</b>:</ion-label>
                        <span *ngIf="!this.isTherapist">{{recipe.difficulty.difficultyName}}</span>

                        <ion-select *ngIf="this.isTherapist" interface="popover"
                                    (ionChange)="updateDifficulty($event, recipe)"
                                    [value]="recipe.difficulty.difficulty">
                            <ion-select-option [selected]="recipe.difficultyId == difficulty.difficulty"
                                               *ngFor="let difficulty of this.difficulties"
                                               [value]="difficulty.difficulty">
                                {{difficulty.difficultyName}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label><b>Zutaten</b>: {{recipe.commaSeparatedIngredientNames}}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </ion-grid>
</ion-content>
