<ion-grid>
  <ion-row dragula="recipes" [dragulaModel]="words">
    <ion-col size="4" *ngFor="let recipe of words">
      <ion-item>
        <ion-label class="ion-text-wrap">{{ recipe.name }}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-card>
  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-item>Zeitung holen</ion-item>
    <ion-card>
      <ion-item>
        <ion-reorder slot="end"></ion-reorder>
        <ion-grid>
          <ion-row><ion-label>Frühstück zubereiten</ion-label> </ion-row>
          <ion-card dragula="recipes" [dragulaModel]="words">
            <ion-card-header>Hierher ziehen</ion-card-header>
          </ion-card>
        </ion-grid>
      </ion-item>
    </ion-card>
    <ion-item>Haustier füttern</ion-item>
    <ion-card>
      <ion-item>
        <ion-reorder slot="end"></ion-reorder>
        <ion-grid>
          <ion-row><ion-label>Mittagessen zubereiten</ion-label> </ion-row>
          <ion-card dragula="recipes" [dragulaModel]="words">
            <ion-card-header>Hierher ziehen</ion-card-header>
          </ion-card>
        </ion-grid>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-reorder slot="end"></ion-reorder>
        <ion-grid>
          <ion-row><ion-label>Abendessen zubereiten</ion-label> </ion-row>
          <ion-card dragula="recipes" [dragulaModel]="words">
            <ion-card-header>Hierher ziehen</ion-card-header>
          </ion-card>
        </ion-grid>
      </ion-item>
    </ion-card>
    <ion-item>Bad nehmen</ion-item>
    <ion-item>Schlafen gehen</ion-item>
  </ion-reorder-group>
</ion-card>