<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="user">Tagesplan von {{ user.fullName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <serious-game-helptext
    *ngFor="let helptext of games && games[step].helptexts"
    [helptext]="helptext"
  ></serious-game-helptext>
  <ng-template component-is></ng-template>
  <serious-game-stopwatch
    (isReset)="setTime($event)"
    (timeChanged)="setTime($event)"
  ></serious-game-stopwatch>
  <serious-game-scored-points [time]="elapsedTime"></serious-game-scored-points>
  <ion-button expand="block" (click)="onSubmit()" *ngIf="stepValid()">
    Weiter</ion-button
  >
  <ion-button expand="block" (click)="onFinish()" *ngIf="!stepValid()"
    >Fertigstellen</ion-button
  >
</ion-content>
