<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="foodCategory">{{ foodCategory.name }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" #scrollContainer class="scroll-container">
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
        <ion-card *ngIf="foodCategory">
            <ion-card-content>
                <serious-game-drag-zone
                    id="shelf"
                    name="foodItems"
                    [model]="foodItems"
                    [scrollElement]="content"
                ></serious-game-drag-zone
            ></ion-card-content>
        </ion-card>
        <serious-game-cart
            id="cart"
            name="foodItems"
            [data]="foodItems"
            [viewing]="false"
        ></serious-game-cart>
        <ion-grid margin-top="10">
            <ion-row>
                <ion-col size="12">
                    <ion-button expand="block" (click)="this.goBack()">Fertig</ion-button>
                </ion-col>
            </ion-row><br/>
        </ion-grid>
    </ion-reorder-group>
</ion-content>
