<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Logs</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-grid>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Log-Dateien</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ng-container *ngIf="logs !== undefined; else loadingTemplate">
                    <ng-container *ngIf="logs.length > 0; else noLogsTemplate">
                        <ion-list>
                            <ion-item *ngFor="let l of logs">
                                <ion-label>{{l.file}} [{{l.size}} KB]</ion-label>
                                <ion-button expand="block" color="light" [routerLink]="['/log']" [queryParams]="{ name: l.file}">Alle</ion-button>
                                <ion-button expand="block" color="primary" *ngIf="showButton('debug')" [routerLink]="['/log']" [queryParams]="{ name: l.file, level: 'debug'}">Debug</ion-button>
                                <ion-button expand="block" color="tertiary" *ngIf="showButton('info')" [routerLink]="['/log']" [queryParams]="{ name: l.file, level: 'info'}">Info</ion-button>
                                <ion-button expand="block" color="warning" *ngIf="showButton('warn')" [routerLink]="['/log']" [queryParams]="{ name: l.file, level: 'warn'}">Warnung</ion-button>
                                <ion-button expand="block" color="danger" *ngIf="showButton('error')" [routerLink]="['/log']" [queryParams]="{ name: l.file, level: 'error'}">Error</ion-button>
                            </ion-item>
                        </ion-list>
                    </ng-container>
                </ng-container>

            </ion-card-content>
        </ion-card>
    </ion-grid>
</ion-content>

<ng-template #loadingTemplate>
    <ion-spinner name="crescent"></ion-spinner>
</ng-template>

<ng-template #noLogsTemplate>
    <div class="ion-margin">
        <ion-label>Keine Logs gefunden!</ion-label>
    </div>
</ng-template>