<ion-card *ngIf="chosenRecipe">
  <ion-card-header>Rezept: {{chosenRecipe.name}}</ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let ingredient of chosenRecipe.ingredients">{{ingredient.name}}</ion-item>
    </ion-list>
    <!--TODO: replace with real data-->
    <!--<template *ngIf="game.helptexts.length">
      <ion-card *ngFor="let helptext of game.helptexts">
        <ion-card-header>{{helptext.name}}</ion-card-header>
        <ion-card-content>{{helptext.text}}</ion-card-content>
      </ion-card></template>-->
      <serious-game-helptext></serious-game-helptext>
  </ion-card-content>
</ion-card>