<ion-list>
  <ion-list-header>Patientenauswahl</ion-list-header>
  <ion-item>
    <ion-label>Patienten</ion-label>
    <ion-select
      multiple="true"
      (ionChange)="selectPatient($event.detail.value)"
    >
      <ion-select-option
        *ngFor="let patient of patients"
        value="{{ patient.id }}"
        >{{ patient.forename }} {{ patient.lastname }}</ion-select-option
      >
    </ion-select>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item *ngFor="let patient of selectedPatients"
    ><ion-label id="{{ patient.id }}"
      >{{ patient.forename }} {{ patient.lastname }}</ion-label
    ></ion-item
  >
</ion-list>
