<serious-game-list-accordion *ngFor="let groupedSessions of sessions" [title]="groupedSessions[0].game.name">
    <ion-item *ngFor="let session of groupedSessions; let i = index">
        <ion-label
            ><h2>
                {{
                    session.statistic.startTime
                        | date: "dd.MM.yyyy
                        HH:mm"
                }}
            </h2>
            <p>
                Zeit:
                {{
                    getDifference(
                        session.statistic.startTime,
                        session.statistic.endTime
                    ).minutes
                }}
                Minute(n)
                {{
                    getDifference(
                        session.statistic.startTime,
                        session.statistic.endTime
                    ).seconds
                }}
                Sekunde(n)
            </p>
            <p>
                <serious-game-error-count
                    [givenErrorCount]="session.statistic.errortexts.length"
                ></serious-game-error-count></p
        ></ion-label>
    </ion-item>
</serious-game-list-accordion>